<div class="chat-container d-flex flex-column">
  <section class="d-flex justify-content-end flex-column">
    <span *ngFor="let message of messages">
      <div class="clear"></div>
      <div [ngClass]="{'from-them': !message.local, 'from-me': message.local}">
        <p>{{ message.message }}</p>
      </div>
    </span>
  </section>
  <form [formGroup]="form">
    <div class="input-group">
      <input type="text" class="form-control" formControlName="message" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="chat(form.value.message)">Send</button>
      </span>
    </div>
  </form>
</div>
