<div class="chat-container d-flex flex-column">
  <div class="messages d-flex flex-grow-1 justify-content-end flex-column">
    <div class="bubble" *ngFor="let message of messages">
      <span class="source">{{ message.source }}</span>
      <span class="message">{{ message.message }}</span>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="input-group">
      <input type="text" class="form-control" formControlName="message" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="chat(form.value.message)">Send</button>
      </span>
    </div>
  </form>
</div>
